<?xml version="1.0"?>
<robot name="clover" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="main_camera" default="true"/>
  <xacro:arg name="rangefinder" default="true"/>
  <xacro:arg name="led" default="false"/>
  <xacro:arg name="gps" default="true"/>
  <xacro:arg name="maintain_camera_rate" default="false"/>
  <xacro:arg name="use_clover_physics" default="false"/>

  <xacro:include filename="clover4_base.xacro" />
  <xacro:include filename="../sensors/rpi_cam.urdf.xacro"/>
  <xacro:include filename="../sensors/distance_sensor.urdf.xacro"/>
  <xacro:include filename="../leds/led_strip.xacro"/>

  <!-- Create camera plugin -->
  <xacro:if value="$(arg main_camera)">
    <xacro:rpi_cam name="main_camera" parent="base_link" x="0.055" y="0.0" z="-0.03" roll="0" pitch="${pi / 2}" yaw="0" width="320" height="240" rate="40" do_throttling="$(arg maintain_camera_rate)"/>
  </xacro:if>

  <!-- Create rangefinder plugin -->
  <xacro:if value="$(arg rangefinder)">
    <!--
      Radius of tof_sensor_array_drum is 20cm from the center of it.
      I increment through values of 2pi/8 (8-sided) for the x y positioning of each sensor.
      Phi is the angular offset, because the faces of the octagon are offset at a 22.5deg angle.
    -->
    <xacro:property name="r" value="0.05" />
    <xacro:property name="d_theta" value="${2.0 * pi / 8.0}" />
    <xacro:property name="phi" value="${22.5 * pi / 180.0}" />
    <xacro:distance_sensor index="0" parent="tof_sensor_array_link" x="${r*cos((d_theta * 0) + phi)}" y="${r*sin((d_theta * 0) + phi)}" z="-0.04" roll="0" pitch="${0}" yaw="${d_theta * 0 + phi}" range_min="0.2" range_max="6.0"/>
    <xacro:distance_sensor index="1" parent="tof_sensor_array_link" x="${r*cos((d_theta * 1) + phi)}" y="${r*sin((d_theta * 1) + phi)}" z="-0.04" roll="0" pitch="${0}" yaw="${d_theta * 1 + phi}" range_min="0.2" range_max="6.0"/>
    <xacro:distance_sensor index="2" parent="tof_sensor_array_link" x="${r*cos((d_theta * 2) + phi)}" y="${r*sin((d_theta * 2) + phi)}" z="-0.04" roll="0" pitch="${0}" yaw="${d_theta * 2 + phi}" range_min="0.2" range_max="6.0"/>
    <xacro:distance_sensor index="3" parent="tof_sensor_array_link" x="${r*cos((d_theta * 3) + phi)}" y="${r*sin((d_theta * 3) + phi)}" z="-0.04" roll="0" pitch="${0}" yaw="${d_theta * 3 + phi}" range_min="0.2" range_max="6.0"/>
    <xacro:distance_sensor index="4" parent="tof_sensor_array_link" x="${r*cos((d_theta * 4) + phi)}" y="${r*sin((d_theta * 4) + phi)}" z="-0.04" roll="0" pitch="${0}" yaw="${d_theta * 4 + phi}" range_min="0.2" range_max="6.0"/>
    <xacro:distance_sensor index="5" parent="tof_sensor_array_link" x="${r*cos((d_theta * 5) + phi)}" y="${r*sin((d_theta * 5) + phi)}" z="-0.04" roll="0" pitch="${0}" yaw="${d_theta * 5 + phi}" range_min="0.2" range_max="6.0"/>
    <xacro:distance_sensor index="6" parent="tof_sensor_array_link" x="${r*cos((d_theta * 6) + phi)}" y="${r*sin((d_theta * 6) + phi)}" z="-0.04" roll="0" pitch="${0}" yaw="${d_theta * 6 + phi}" range_min="0.2" range_max="6.0"/>
    <xacro:distance_sensor index="7" parent="tof_sensor_array_link" x="${r*cos((d_theta * 7) + phi)}" y="${r*sin((d_theta * 7) + phi)}" z="-0.04" roll="0" pitch="${0}" yaw="${d_theta * 7 + phi}" range_min="0.2" range_max="6.0"/>
    <xacro:distance_sensor index="8" parent="base_link" x="0" y="0" z="0.005" roll="0" pitch="${pi / 2}" yaw="0" range_min="0.001" range_max="6.0"/> <!-- up-facing sensor-->
    <xacro:distance_sensor index="9" parent="tof_sensor_array_link" x="0" y="0" z="-0.05" roll="0" pitch="${3 * pi / 2}" yaw="0" range_min="0.001" range_max="6.0"/> <!-- down-facing sensor -->
  </xacro:if>

  <!-- Instantiate LED strip -->
  <xacro:if value="$(arg led)">
    <xacro:led_strip
      name="led"
      parent="base_link"
      radius="0.08"
      bulb_radius="0.006"
      led_count="58"
      use_plugin="true"
      z="-0.002"/>
  </xacro:if>

  <xacro:if value="$(arg gps)">
    <gazebo>
      <include>
        <uri>model://gps</uri>
        <pose>0.1 0 0 0 0 0</pose>
        <name>gps0</name>
      </include>
      <joint name='gps0_joint' type='fixed'>
        <child>gps0::link</child>
        <parent>base_link</parent>
      </joint>  
    </gazebo>
  </xacro:if>

</robot>
